#toggle {
  display: block;
  width: 2em;
  height: 2em;
  float: right;
  margin-right: 4em;
  span {
    position: relative;
    display: block;
    &:after, &:before {
      content: "";
      position: absolute;
      left: 0;
      top: -9px;
    }
    &:after {
      top: 9px;
    }
  }
  span, span:after, span:before {
    width: 100%;
    height: 5px;
    background-color: #E0FFFF;
    transition: all 0.3s;
    backface-visibility: hidden;
    border-radius: 2px;
  }
  &.on{
    span{
      background-color: transparent;
      &:before{
        transform: rotate(45deg) translate(5px, 5px);
      }
      &:after{
        transform: rotate(-45deg) translate(7px, -8px);
      }
    }
  }
  &.on + #menu{
    opacity: 1;
    visibility: visible;
  }
}



/* menu appearance*/
#menu {
  position: relative;
  color: #E0FFFF;
  width: 200px;
  padding: 10px;
  float: right;
  margin-right: -2.5em;
  margin-top: 3em;
  font-family: "Segoe UI", Candara, "Bitstream Vera Sans", "DejaVu Sans", "Bitstream Vera Sans", "Trebuchet MS", Verdana, "Verdana Ref", sans-serif;
  text-align: center;
  border-radius: 12px;
  background: white;
  box-shadow: 0 1px 8px rgba(0,0,0,0.05);
  /* just for this demo */
  opacity: 0;
  visibility: hidden;
  transition: opacity .4s;
  &:before {
    position: absolute;
    top: -15px;
    left: 180px;
    content: "";
    display: block;
    border-left: 15px solid transparent;
    border-right: 15px solid transparent;
    border-bottom: 20px solid white;
  }
}

ul, li, li a {
  list-style: none;
  display: block;
  margin: 0;
  padding: 0;
}
li a {
  padding: 5px;
  color: #888;
  text-decoration: none;
  transition: all .2s;
  &:hover, &:focus {
    background: #1ABC9C;
    color: #fff;
  }
}

/* demo styles */
body {
  margin-top: 3em;
  background: black;
  color: #555;
  font-family: "Open Sans", "Segoe UI", Helvetica, Arial, sans-serif;
}

p, p a {
  font-size: 12px;
  text-align: center;
  color: #888; }
